.trenders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-block: 20px;
  gap: 1vh;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  app-trender-card-institutaion {
    max-width: 400px;
    width: 100%;
  }
}
