@use "../../../../assets/styles/logForm" as *;
@use "../../../../assets/styles/color" as *;
.phone {
  width: 100%;
  display: flex;
  align-items: center;
}
.title {
  padding: 10px 0px;
  color: $dark-blue !important;
}
