<div class="dialog">
  <h1 mat-dialog-title>Change Password</h1>
  <div mat-dialog-content class="search">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          [type]="!hide ? 'password' : 'text'"
        />
        <div
          class="like-btn"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon color="primary">{{
            !hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </div>
        <mat-error
          *ngIf="
            form.controls.password.invalid && form.controls.password.touched
          "
          >{{ getPasswordErrorMessage() }}</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input
          formControlName="confirm"
          matInput
          type="password"
          #confirmP
          name="confirm"
          required
          [type]="!hideConfirm ? 'password' : 'text'"
        />
        <div
          class="like-btn"
          mat-icon-button
          matSuffix
          (click)="hideConfirm = !hideConfirm"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon color="primary">{{
            !hideConfirm ? "visibility_off" : "visibility"
          }}</mat-icon>
        </div>
        <mat-error *ngIf="form.controls.confirm.invalid">{{
          getConfirmErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button class="No" color="accent" (click)="onNoClick()">
      No Thanks
    </button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="Save()">
      Save
    </button>
  </div>
</div>
