@use "../../../../assets/styles/color" as *;
.big-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 3vh;
  justify-content: center;
  .Info-tab {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 3vh;
    justify-content: center;
    .img-div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: min-content;
      align-self: center;
      position: relative;
      img {
        align-self: center;
        border-radius: 20px;
      }
      .actions {
        border-radius: 0 0 20px 20px;
        background-color: $dark-blue;
        opacity: 0.3;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
      }
      button {
        color: $light-white;
        z-index: 1000000;
        //   border-radius: 0;
      }
      .actions:hover {
        opacity: 0.7;
      }
    }
    .action-div {
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        gap: 10px;
      }
    }
  }
  mat-card {
    background-color: transparent;
  }
}
