<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="avatar">
      <img
        width="100"
        height="150"
        mat-card-avatar
        ngSrc="../../../../assets/photo_2023-04-25_02-47-35.jpg"
      />
    </div>
    <h3>
      <mat-card-title>{{ trender.institution_id }}</mat-card-title>
    </h3>
  </mat-card-header>

  <!-- <div
    mat-card-image
    class="trender-img"
    [style]="'background-image: url(\'' + trender.institute.img + '\')'"
  ></div> -->
  <mat-card-content>
    <h2>{{ trender.title }}</h2>
    <input type="checkbox" class="toggle" [id]="'toggle' + trender.id" />
    <label [for]="'toggle' + trender.id" *ngIf="trender.description"></label>
    <p>
      {{ trender.description }}
    </p>
    <h5>
      Created At:
      {{ trender.created_at | date : "MM/dd/yyyy" }}
    </h5>
    <h5>
      Ended At:
      {{ trender.ended_at | date : "MM/dd/yyyy" }}
    </h5>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="addOffer()"
      mat-fab
      extended
      color="primary"
      (click)="addOffer()"
    >
      <mat-icon>add</mat-icon>Add Offer
    </button>
  </mat-card-actions>
</mat-card>
