<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button color="accent" (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Trenders</h1>
    <button color="accent" mat-icon-button (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav
    #sidenav="matSidenav"
    autosize
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="mobileQuery.matches ? false : true"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
  >
    <div class="img-div">
      <img
        ngSrc="../../../assets/photo_2023-04-25_02-47-35.jpg"
        alt="Profile"
        width="100"
        height="100"
        class="profile-img"
      />
    </div>
    <div class="info">
      <h2>Alaa Ataya</h2>
      <small>Company</small>
    </div>
    <mat-divider></mat-divider>
    <a [routerLink]="'./'">
      <button mat-button class="menu-btn">
        <mat-icon>home</mat-icon>
        <h3>Home</h3>
      </button>
    </a>
    <a routerLink="profile">
      <button mat-button class="menu-btn">
        <mat-icon>perm_identity</mat-icon>
        <h3>Profile</h3>
      </button>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="big-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
