@use "../../../assets/styles/color" as *;
mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}
mat-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-white;

  .profile-img {
    border-radius: 50%;
    margin: 25px;
  }
  .menu-btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: $dark-blue;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    h2,
    small {
      width: 100%;
      text-align: center;
      display: block;
      color: $dark-blue;
    }
    h2 {
      margin-bottom: 5px;
    }
  }
}
mat-sidenav-content {
  overflow: hidden;
  background-color: $light-white;
  box-shadow: inset 0px 0px 5px 1px black;
}
.big-container {
  height: calc(100vh - 64px);
  // overflow-y: auto;
}
@media (max-width: 768px) {
  .big-container {
    height: calc(100vh - 56px);
  }
}
.mat-mdc-button > .mat-icon {
  font-size: 1.7rem;
  height: 1.7rem;
  width: 1.7rem;
}
::ng-deep ::-webkit-scrollbar {
  background-color: $dark-blue;
  border-radius: 10px;
  width: 10px;
  height: 20px;
}
/* Add a custom scrollbar */
::ng-deep ::-webkit-scrollbar-track {
  background-color: $light-white;
}

::ng-deep ::-webkit-scrollbar-thumb {
  background-color: $dark-blue;
  border-radius: 10px;
}
