<mat-toolbar color="primary">
  <mat-toolbar-row>
    <form>
      <mat-form-field class="search">
        <mat-label class="search">Search</mat-label>
        <input
          class="search"
          matInput
          #searchV
          (input)="searchInput$.next(searchV.value)"
        />
        <button mat-icon-button matSuffix disabled="true">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="filter-div">
    <div class="categories-div">
      <div class="header">
        <h3>Categories</h3>
        <mat-form-field class="search">
          <mat-label class="search">Categories Search </mat-label>
          <input
            class="search"
            matInput
            #categorySearch
            (input)="categorySearch$.next(categorySearch.value)"
          />
          <button mat-icon-button matSuffix disabled="true">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="categories">
        <div class="list" #list>
          <div class="category" *ngFor="let category of Lcategories$ | async">
            <input [id]="category.name" type="checkbox" [value]="category.id" />
            <label [for]="category.name">{{ category.name }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="cities-div">
      <div class="header">
        <h3>Cities</h3>
        <mat-form-field class="search">
          <mat-label class="search">Cities Search </mat-label>
          <input
            class="search"
            matInput
            #citiesSearch
            (input)="citiesSearch$.next(citiesSearch.value)"
          />
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="cities">
        <div class="list" #Clist>
          <div class="category" *ngFor="let city of Lcities$ | async">
            <input
              [id]="city"
              type="checkbox"
              [value]="city"
              (change)="listCity(city)"
            />
            <label [for]="city">{{ city }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="trenders" *ngIf="(trenders$ | async)?.length !== 0; else loading">
    <app-trender-card
      [trender]="trender"
      *ngFor="let trender of trenders$ | async"
    ></app-trender-card>
  </div>
  <ng-template #loading>
    <!-- <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <h3 *ngIf="searchInput$ | async">No Results Found</h3> -->
  </ng-template>
</div>
