@use "./mixin" as *;
@use "./color" as *;
@use "./animations" as *;

.mat-mdc-radio-button .mdc-form-field,
.mdc-form-field > label {
  width: 100%;
}

.container {
  @include flx(column, center, center);
  width: 80%;
  margin-inline: auto;
  max-width: 400px;
  animation: fadeIn 2s ease-in forwards;

  .btn-div {
    @include bck-ground($light-white);
    gap: 2vh;
    width: 100%;
    padding-inline: 5%;
    padding-block: 15%;

    .title {
      color: black;
      width: 100% !important;
      border-bottom: 2px solid $dark-blue;
      padding-bottom: 10px;
      box-shadow: 0px 5px 5px 0px $dark-blue;
      text-align: center;
      @include flx(row, center, center);
      font-weight: bold;
    }

    .content {
      @include flx(column, center, stretch);
    }

    button {
      @include flx(row, center, center);
      align-self: center;
      height: auto;
      padding: 10px 20px;
      width: 50%;

      .btn-para {
        @include flx(column, center, center);
        gap: 1em;
      }
    }
  }

  .action-div {
    @include flx(row, space-evenly, center);
    gap: 8px;

    button {
      width: 100%;
    }
  }
  form {
    @include flx(column, center, center);
    width: 100%;
    gap: 2vh;
    .mat-stepper-vertical,
    .mat-stepper-horizontal {
      width: 100%;
    }
    @include for-phone-only {
      .action-div {
        flex-direction: column;
      }
    }

    .rd-btn {
      margin-block: 10px;
      display: block;
      width: 100%;
    }

    .field {
      width: 100%;
      max-width: 320px;

      input {
        color: $dark-blue;
      }
    }
  }

  .like-btn {
    cursor: pointer;
  }

  .div-img {
    @include bck-ground($light-white);
    width: 100%;
    padding-inline: 20%;
    position: "relative";
  }

  img {
    position: relative !important;
    width: 100%;
  }

  .footer {
    @include flx(row, space-evenly, center);

    width: 90%;
    padding-inline: 5%;

    p,
    button {
      color: $dark-blue;
      text-align: center;
    }
  }

  #wave {
    rotate: 180deg;
    width: 100%;
  }
}
